pre, code {
    padding: 0.2em 0px;
    font-size: 90%;
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
    font-family: Consolas, monospace;
}

pre {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
}

pre > code {
    background-color: rgba(0,0,0,0);
}

body {
    line-height: 1.6;
    color: #333;
    font-family: sans-serif;
}

h1, h2 {
    border-bottom: 1px solid #EEE;
}

td, th {
    border: 1px solid black;
    padding: 2px 8px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}
